In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/fraudulent-transactions-data/Fraud.csv

In [2]:
df = pd.read_csv('/kaggle/input/fraudulent-transactions-data/Fraud.csv')
df.sample(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
5551448,383,PAYMENT,2405.47,C212106083,0.00,0.0,M1656668378,0.00,0.00,0,0
4637863,330,TRANSFER,200487.78,C729432212,0.00,0.0,C296177373,938738.49,1139226.27,0,0
4777142,335,PAYMENT,2273.27,C6766348,0.00,0.0,M1205906634,0.00,0.00,0,0
4813371,346,CASH_OUT,209971.27,C165725957,0.00,0.0,C1016267313,793426.49,1003397.76,0,0
3861959,283,CASH_OUT,102231.71,C749848502,2320.22,0.0,C1343932775,970795.31,1073027.02,0,0

In [3]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [4]:
# To Do :
# Convert type column to numerical

In [5]:
features = df.drop('isFraud',axis=1).values
target = df['isFraud'].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(features,target,test_size=0.3,random_state=42,stratify=target)
nb_classifier = GaussianNB()

In [7]:
# nb_classifier.fit(X_train,y_train)

In [8]:
# nb_classifier.score(X_test,y_test)